html { height:100% }
body {
	height:100%;
	margin:0 auto; /* for the rest */
	background-color:white;
	font-family:"Helvetica","Arial","Verdana","sans-serif";
}

a,a:active,a:hover,a:visited,a:link { outline-color:invert;outline-style:none;outline-width:medium;font-weight:bold; color:#000; text-decoration:none;cursor:pointer;}

#white-screen{
	width:100%;
	height:110%;
	position:absolute;
	z-index:10;
	background-color:white;
}

#container {
  margin-left: auto; 
  margin-right: auto; 
  width: 900px;
}
#menu {
	padding-top:20px;
	font-size:30px;
	font-weight:bolder;
	width:900px;
	height:100px;
	margin-left:-450px;
	z-index:11;
	position:absolute;
}
.menu-line {
	width:900px;
	margin: 0;
	height : 30px;
	float : left;

}

.menu-item {
	float:left;
	margin-right:15px;
	cursor:pointer;
}

#content {
	width:900px;
	position: absolute;
	top: 120px;
	bottom: 0;
}
#content li.thumb-page {
	list-style-type:none;
	float:left;
	margin-right:5px;
	width:220px;
	height:200px;
}

.thumb-link {
	cursor:pointer;
}

#content img.mini {
	border:0px;
}

#content span.title{
	text-align:left;
}



#roll{
	width:940px;
	height:84px;
	margin-left:-20px;
	overflow:hidden;
	text-align:center;
}

#roll-container{
	text-align:left;
	display:block;
/*	margin-left:20px; */
	
}

#pic-frame {
	margin:auto;
	text-align:center;
	opacity:0;
    	-ms-filter: "alpha(opacity=0)"; /* IE 8 */
    	filter : alpha(opacity=0); /* IE < 8 */ 
	height:300px; /* Current fucking IE debug */
}

.thumb-roll{
	margin-right:5px;
	height:75px;
	width:124px;
}

.thumb-roll-container{
	display:inline;
}



#roll-next{
	float:right;
	height:79px;
	width:15px;
	cursor:pointer;
	background: #000 url("../img/next.jpg") no-repeat center center;
}

#roll-prev{
	float:left;
	height:79px;
	width:15px;
	margin-right:5px;
	cursor:pointer;
	background: #000 url("../img/prev.jpg") no-repeat center center;
}

#roll .mini{
	opacity:0.5;
    	-ms-filter: "alpha(opacity=50)"; /* IE 8 */
    	filter : alpha(opacity=50); /* IE < 8 */ 

	width:124px;
}
